body {
  position: relative;
  z-index: 1000;
}


.main-header {
  margin-top: 60px;
  font-family: 'Bangers', Arial, cursive;
}

.main-header h1 {
  font-size: 5rem;
}

.main-header-text {
  margin-top: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.7rem;
}
.grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  width: 1000px;
  height: 1000px;
  position: relative;
  margin-bottom: 30px;
}
.grid-item {
  background-color: white;
  border: 1px solid #DCDCDC;
  border-radius: 10px;
}
.barrier{
  background: url('../images/boulder.png') center/90px 60px no-repeat;
}
.player1 {
background: url('../images/helmet.png') center/100px 70px no-repeat;

}
.player2 {
  background: url('../images/knight.png') center/90px 70px no-repeat;
  /* box-shadow:  inset 0 0 10px #000; */
}
.weapon {
  background-color: blue;
}
.grid-item:hover {
  transform: scale(1.02, 1.02);
  box-shadow: 0 0 15px #000;
}

.spear {
  background-image: url('../images/spear.png');
}


[data-weaponType='Spear'] {
  background-image: url('../images/spear.png');
  background: url('../images/spear.png') center/80px 60px no-repeat;
}

[data-weaponType='Bow and Arrow'] {
  background: url('../images/archery.png') center/80px 60px no-repeat;
}

[data-weaponType='Sword'] {
  background: url('../images/sword.png') center/80px 60px no-repeat;
}

[data-weaponType='Ax'] {
  background: url('../images/axe.png') center/80px 60px no-repeat;
}

.player-stats {
  position: absolute;
  width: 100%;
  top: 100px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}

.infoBox {
  border: 1px solid black;
  border-radius: 10px;
  width: 15%;
  height: 16rem;
  font-size: 1.3rem;
  padding: 15px;
  margin: 50px;
}

.infoBox ul li {
  list-style: none;
  margin-left: -30px;
}

.weapon-pic {
  width: 70px;
  height: 70px;
  border: 1px solid #000;
  margin: 10px auto;
}
