
body {
  position: relative;
  z-index: 1000;
}


.main-header {
  width: 100%;
  height: 340px;
  padding: 60px 0px 20px 0px;
  font-family: 'UnifrakturCook', Arial, cursive;
  background-color: rgb(34,139,34, 0.8);
  /* background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../images/stonewall.jpg'); */
  color: #fff;
  display: block;
  position: relative;
}

.main-header h1 {
  font-size: 7rem;
  text-shadow: 5px 5px 4px rgba(0,0,0,0.67);
}

.main-header-text {
  margin-top: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.7rem;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.9);
}

.main-header-text-container {
  margin: 0 auto;
  text-align: center;
  width: 60%;
  /* background-color: rgb(34,139,34, 0.8); */
  border-radius: 10px;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  width: 1000px;
  height: 1000px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
}
.grid-item {
  background-color: white;
  border: 1px solid #DCDCDC;
  border-radius: 10px;
}
.barrier{
  background: url('../images/boulder.png') center/90px 60px no-repeat;
}
.player1 {
background: url('../images/helmet.png') center/100px 70px no-repeat;
box-shadow: inset 1px 1px 8px 8px rgba(25,194,65,1);
}
#player1 {
  background: url('../images/helmet.png') center/100px 70px no-repeat;
}
.player2 {
  background: url('../images/knight.png') center/90px 70px no-repeat;
  box-shadow: inset 1px 1px 8px 8px rgba(194,25,25,1);
}
#player2 {
  background: url('../images/knight.png') center/90px 70px no-repeat;
  /* box-shadow:  inset 0 0 10px #000; */
}
.weapon {
  background-color: blue;
}
.grid-item:hover {
  transform: scale(1.02, 1.02);
  box-shadow: 0 0 15px #000;
}

.alertText {
  font-size: 2rem;
  text-align: center;
}

#modalLongTitle {
  font-family: 'Bangers', Arial, cursive;
  font-size: 4rem;
}

[data-weaponType='Spear'] {
  background-image: url('../images/spear.png');
  background: url('../images/spear.png') center/80px 60px no-repeat;
}

[data-weaponType='Archery'] {
  background: url('../images/archery.png') center/80px 60px no-repeat;
}

[data-weaponType='Sword'] {
  background: url('../images/sword.png') center/80px 60px no-repeat;
}

[data-weaponType='Ax'] {
  background: url('../images/axe.png') center/80px 60px no-repeat;
}

[data-weaponType='Pencil'] {
  background: url('../images/pencil.png') center/80px 60px no-repeat;
}

.player-stats {
  position: absolute;
  width: 100%;
  top: 320px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}

.infoBox {
  border: 1px solid black;
  border-radius: 10px;
  width: 15%;
  height: 16rem;
  font-size: 1.3rem;
  padding: 15px;
  margin: 50px;
}

.infoBox ul li {
  list-style: none;
  margin-left: -30px;
}

.weapon-pic {
  width: 80px;
  height: 80px;
  border: 1px solid #000;
  margin: 10px auto;
}

.pencil {
  background: url('../images/pencil.png') center/80px 60px no-repeat;
}

.modalText {
  font-size: 45px;
  font-family: 'Arimo', sans-serif;
}

.modalImage {
  height: 200px;
  width: 200px;
}

.attackerModalImage {
  /* background: url('../images/helmet.png') center/90px 70px no-repeat; */
}

.battleImage {
  background: url('../images/battle.png') center/90px 70px no-repeat;
}

.defenderModalImage {
  background: url('../images/knight.png') center/90px 70px no-repeat;
}

/* Winner section */

#winnerSection {
  text-align: center;
  color: #000;
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
}

.winnerSectionHeader {
  font-family: 'Bangers', Arial, cursive;
}
